.App {
  /*text-align: center;*/
  /*overflow: hidden;*/
}

.CustomButton1{
  border-Radius:2rem;
  border:none;
  min-height:2rem;
  max-width:8rem;
  font-Size:1rem;
  color:white;
  background-color:red;
  font-Weight: bold;
  margin-Left: 1rem;
}

.ImgSlideShowContainer{
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  width: 12rem;
}

.ImgSlideShowContainer img{
  height: 15rem;
  width: 10rem;
  border-radius: 8px;
  object-fit:cover;
  margin: 0.5rem;
  z-index: 0;
  animation: fadeIn 4s forwards, slideIn 2s forwards;
}

.ImgSlideShowContainer1 img{
 scale:0;
}

.fadeText{
  animation: fadeIn 4s forwards;
}
.fadeText1{
  scale:0;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

.HomeContainer{
  background-color: black;
  height:100vh;
  width:100vw;
  position:absolute;
  overflow: hidden; /* Hide the scrollbar */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.BlurTest{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh; /* Adjust the height of the blurred area */
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  filter: blur(50px); /* Adjust the blur strength */
  pointer-events: none;
  z-index: 999; /* Ensure it's above other elements */
}

.snap-scroll-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh; /* Set the height of each section based on your requirements */
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.HomeContainer::-webkit-scrollbar {
  width: 0; /* Set width to 0 to hide scrollbar */
}

.HomeContainer::-webkit-scrollbar-track {
  display: none; /* Hide the scrollbar track */
}

.CustomButton1:hover{
  cursor: pointer;
}

.CustomButton1:active{
  color:blue;
}

.CenterContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  margin-left: 35vw;
  max-height: 45rem;
  min-height: 35rem;
  min-width: 25rem;
  max-width: 30rem;
  border: 0.01rem solid white;
  border-radius: 2rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);

}

.FormContainer{
  display:flex;
  flex-direction: column;
  max-width: 300px;
  color:black;
}

.FormContainer label{
  align-self: flex-start;
  margin-left:0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.FormContainer input[type=email], .FormContainer input[type=password]{
  padding: 0.5rem;
  height: 2rem;
  border-radius: 1.3rem;
}

.FormContainer input[type=title]{
  padding: 0.5rem;
  height: 2rem;
  border-radius: 1.3rem;
}

.FormContainer textarea{
  padding: 0.5rem;
  height: 7rem;
  width: 37vw;
  border-radius: 1rem;
}

.FormContainer input[type=email]:focus, .FormContainer input[type=password]:focus{
  border-color:lightblue;
}

.my-masonry-grid {
  display: flex;
  margin-left: -10px;
  width: auto;
  padding-top: 20px;
}

.my-masonry-grid_column {
  display: flex;
  flex-direction:column;
  gap:20px;
  margin-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit:cover;
}

.my-masonry-grid_column img:hover {
  cursor: pointer;
}

.ImageViewContainer{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.ImageViewContainer img{
  height: 20rem;
  border-radius: 8px;
  object-fit:cover;
}
